<div *ngIf="data">
    <img [src]="data.photos[0]" class="thumbnail" />
    <div class="megusta"  [class.tiene]="data.likes>0" [class.notiene]="!data.likes || data.likes === 0">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <span *ngIf="data.likes || data.likes > 0" class="cuantos">{{data.likes}}</span>
    </div>

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Green Path                                                       |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Un clic en el botón de compra debería enviar un evento al        |
    | componente padre.                                                |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Purple Path                                                      |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
    | Aplica el siguiente formato al precio del producto:              |
    |   - 1 dígito mínimo (parte entera)                               |
    |   - 2 dígitos mínimo y máximo (parte decimal)                    |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <button
        class="button expanded"
        [class.success]="data.state === 'selling'"
        [class.secondary]="data.state === 'sold'">
        <span *ngIf="data.state === 'selling'"
              (click)="showDetail(data)">
            Comprar por {{ data.price | number: '1.2-2' | DecimalToComma }} €
        </span>
        <span *ngIf="data.state === 'sold'"
              (click)="showDetail(data)">
            Ver detalles
        </span>
    </button>
</div>
    